#exemplo{
    background-color: red;
    width: 200px;
    height: 200px;
    /*
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 2s;
    */

    transition: width 2s linear 1s, height 2s linear;
}
#exemplo:hover{
    width: 350px;
    height: 350px;
    background-color: green;
}