#base{
    background-color: green;
    width: 600px;
    height: 600px;
    margin: auto;
}
#base::before, #base::after{
    content: "";
    display: table;
}
#base::after{
    clear: both;
}
#esquerda{
    background-color: red;
    width: 300px;
    height: 300px;
    float: left;
}
#direita{
    background-color: blue;
    width: 300px;
    height: 300px;
    float: right;
}